<!-- <form #form="ngForm" (ngSubmit)="addScore(form)"> -->
<form #form="ngForm" (ngSubmit)="submitQuiz(form)">
  <label for="name">Name:</label>
  <input name="name" id="name" type="text" ngModel />
  <ul *ngFor="let question of questions; index as i">
    <li>{{ question.question_name }}</li>
    <li>
      <label for="{{ question.choice_1 }}">
        <input name="{{ i }}" value="{{ question.choice_1 }}" type="radio" />
        {{ question.choice_1 }}
      </label>
    </li>
    <li>
      <label for="{{ question.choice_2 }}">
        <input name="{{ i }}" value="{{ question.choice_2 }}" type="radio" />
        {{ question.choice_2 }}
      </label>
    </li>
    <li>
      <label for="{{ question.choice_3 }}">
        <input name="{{ i }}" value="{{ question.choice_3 }}" type="radio" />
        {{ question.choice_3 }}
      </label>
    </li>
    <li>
      <label for="{{ question.choice_4 }}">
        <input name="{{ i }}" value="{{ question.choice_4 }}" type="radio" />
        {{ question.choice_4 }}
      </label>
    </li>
  </ul>

  <button [disabled]="form.invalid">Submit</button>
</form>
